In [1]:
pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import os
#mysql_jar_path = os.path.abspath("mysql-connector-j-9.0.0.jar")
#print("Caminho completo do JAR:", mysql_jar_path)

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import tensorflow as tf
import sklearn

2025-05-17 00:24:55.674845: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-05-17 00:24:55.878305: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-05-17 00:24:56.051658: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1747441496.204696    3100 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1747441496.249415    3100 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1747441496.567613    3100 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1747441496.567640    3100 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1747441496.567642    3100 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1747441496.567644    3100 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-05-17 00:24:56.591903: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression, RandomForestRegressor
from pyspark.ml.feature import VectorAssembler
import pandas as pd
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import col, sum

In [5]:
pip install yfinance

Requirement already satisfied: yfinance in ./venv/lib/python3.12/site-packages (0.2.61)
Requirement already satisfied: pandas>=1.3.0 in ./venv/lib/python3.12/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in ./venv/lib/python3.12/site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in ./venv/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in ./venv/lib/python3.12/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in ./venv/lib/python3.12/site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in ./venv/lib/python3.12/site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in ./venv/lib/python3.12/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in ./venv/lib/python3.12/site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in ./venv/lib/python3.12/site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in ./venv/lib/python3.12/site-packages (from yfinance) (0.11.1)
Requirement already satisfied: protobuf>=3.19.0 in ./venv/lib/python3.12/site-packages (from yfinance) (5.29.4)
Requirement already satisfied: websockets>=13.0 in ./venv/lib/python3.12/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in ./venv/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in ./venv/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.13.2)
Requirement already satisfied: cffi>=1.12.0 in ./venv/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in ./venv/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in ./venv/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./venv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.4.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import yfinance as yf

In [4]:


ticker = "AMZN"
data = yf.download(ticker,
                   start="2018-01-01", 
                   end="2020-12-31")    

print(data.head())

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker           AMZN       AMZN       AMZN       AMZN      AMZN
Date
2018-01-02  59.450500  59.500000  58.525501  58.599998  53890000
2018-01-03  60.209999  60.274502  59.415001  59.415001  62176000
2018-01-04  60.479500  60.793499  60.233002  60.250000  60442000
2018-01-05  61.457001  61.457001  60.500000  60.875500  70894000
2018-01-08  62.343498  62.653999  61.601501  61.799999  85590000

In [5]:
csv_AMZN = f"{ticker}_AMZN_historical_train_data_spark.csv"
data.to_csv(csv_AMZN)

In [6]:
df_AMZN= pd.read_csv("AMZN_AMZN_historical_train_data_spark.csv")

In [7]:
df_AMZN.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,AMZN,AMZN,AMZN,AMZN,AMZN
1,Date,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,59.45050048828125,59.5,58.5255012512207,58.599998474121094,53890000
3,2018-01-03,60.209999084472656,60.27450180053711,59.415000915527344,59.415000915527344,62176000
4,2018-01-04,60.47949981689453,60.79349899291992,60.233001708984375,60.25,60442000

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

# Parar sessão anterior, se necessário
try:
    spark.stop()
except:
    pass

# Criar nova SparkSession com o caminho exato do JAR
spark = SparkSession.builder \
    .appName("PySpark CSV to MySQL") \
    .master("local") \
    .config("spark.jars", "/usr/local/spark-3.4.4-bin-hadoop3/jars/mysql-connector-j-8.0.33.jar") \
    .getOrCreate()

# Caminho do CSV
file_path = "file:///home/hduser/novo/AMZN_AMZN_historical_train_data_spark.csv"

# Leitura do CSV
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Visualizar as primeiras 5 linhas
df.show(5)

+----------+------------------+-----------------+------------------+------------------+--------+
|     Price|             Close|             High|               Low|              Open|  Volume|
+----------+------------------+-----------------+------------------+------------------+--------+
|    Ticker|              AMZN|             AMZN|              AMZN|              AMZN|    AMZN|
|      Date|              null|             null|              null|              null|    null|
|2018-01-02| 59.45050048828125|             59.5|  58.5255012512207|58.599998474121094|53890000|
|2018-01-03|60.209999084472656|60.27450180053711|59.415000915527344|59.415000915527344|62176000|
|2018-01-04| 60.47949981689453|60.79349899291992|60.233001708984375|             60.25|60442000|
+----------+------------------+-----------------+------------------+------------------+--------+
only showing top 5 rows

In [10]:
# print the data type info
df.printSchema()

root
 |-- Price: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [11]:
df.show(5)

+----------+------------------+-----------------+------------------+------------------+--------+
|     Price|             Close|             High|               Low|              Open|  Volume|
+----------+------------------+-----------------+------------------+------------------+--------+
|    Ticker|              AMZN|             AMZN|              AMZN|              AMZN|    AMZN|
|      Date|              null|             null|              null|              null|    null|
|2018-01-02| 59.45050048828125|             59.5|  58.5255012512207|58.599998474121094|53890000|
|2018-01-03|60.209999084472656|60.27450180053711|59.415000915527344|59.415000915527344|62176000|
|2018-01-04| 60.47949981689453|60.79349899291992|60.233001708984375|             60.25|60442000|
+----------+------------------+-----------------+------------------+------------------+--------+
only showing top 5 rows

In [12]:
# Remove the first two lines (CRL and null)
df = df.filter(df.Price != "Ticker").filter(df.Price != "Date")

In [13]:
df = df.toDF("Date", "Close", "High", "Low", "Open", "Volume")

In [14]:


df.show(5)

+----------+------------------+------------------+------------------+------------------+--------+
|      Date|             Close|              High|               Low|              Open|  Volume|
+----------+------------------+------------------+------------------+------------------+--------+
|2018-01-02| 59.45050048828125|              59.5|  58.5255012512207|58.599998474121094|53890000|
|2018-01-03|60.209999084472656| 60.27450180053711|59.415000915527344|59.415000915527344|62176000|
|2018-01-04| 60.47949981689453| 60.79349899291992|60.233001708984375|             60.25|60442000|
|2018-01-05|61.457000732421875|61.457000732421875|              60.5|  60.8754997253418|70894000|
|2018-01-08| 62.34349822998047| 62.65399932861328| 61.60150146484375| 61.79999923706055|85590000|
+----------+------------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [15]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [16]:


# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

In [17]:
# convert string double
df = df.withColumn("Close", col("Close").cast("double"))

In [18]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Close: double (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [21]:


df = df.withColumn("High", col("High").cast("double"))
df = df.withColumn("Low", col("Low").cast("double"))
df = df.withColumn("Open", col("Open").cast("double"))
df = df.withColumn("Volume", col("Volume").cast("double"))
df = df.withColumn("Date", col("Date").cast("Date"))

In [22]:


df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Close: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Open: double (nullable = true)
 |-- Volume: double (nullable = true)

In [23]:
import mysql.connector
print(mysql.connector.__version__)

9.3.0

In [24]:
df.show(5)

+----------+------------------+------------------+-----------------+------------------+----------+
|      Date|             Close|              High|              Low|              Open|    Volume|
+----------+------------------+------------------+-----------------+------------------+----------+
|2018-01-02|40.426822662353516|40.436212064432425|39.72276790875693|  39.9339864834405|1.022236E8|
|2018-01-03| 40.41979217529297| 40.96426303528432|  40.356429810473| 40.49019838387923|1.180716E8|
|2018-01-04|40.607521057128906| 40.71078296853528|40.38457115623248|40.492524186516036| 8.97384E7|
|2018-01-05| 41.06986999511719| 41.15670228861273|40.61223501708758|  40.7037620126935|   9.464E7|
|2018-01-08|40.917320251464844|41.213021983305815| 40.8187494265099|40.917320251464844| 8.22712E7|
+----------+------------------+------------------+-----------------+------------------+----------+
only showing top 5 rows

In [25]:
# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

In [26]:
# MySQL connection properties
url = "jdbc:mysql://localhost:3306/companies"  # MySQL URL
properties = {
    "user": "root",
    "password": "password",
    "driver": "com.mysql.cj.jdbc.Driver"
}

In [27]:
# Leitura do CSV
#df = spark.read.csv(file_path, header=True, inferSchema=True)

# Adiciona a coluna 'nome' com valor fixo "AAPL"
df_comp_nome = df.withColumn("nome", lit("AAPL"))

# Escreve no banco MySQL
df_comp_nome.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/companies") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "AAPL_historico") \
    .option("user", "root") \
    .option("password", "password") \
    .mode("overwrite") \
    .save()

In [28]:
# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

mySQL