# AAPL

In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/hduser/novo/venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/hduser/novo/venv/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hduser/novo/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/hduser/novo/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/hduser/novo/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/hduser/novo/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import os
#mysql_jar_path = os.path.abspath("mysql-connector-j-9.0.0.jar")
#print("Caminho completo do JAR:", mysql_jar_path)

In [3]:
import numpy as np
import pandas as pd
import matplotlib
import tensorflow as tf
import sklearn

2025-05-22 03:15:59.148338: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-05-22 03:15:59.267002: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-05-22 03:15:59.369976: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1747883759.449541    3864 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1747883759.471075    3864 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1747883759.627877    3864 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1747883759.627909    3864 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1747883759.627911    3864 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1747883759.627912    3864 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-05-22 03:15:59.646308: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [4]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression, RandomForestRegressor
from pyspark.ml.feature import VectorAssembler
import pandas as pd
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import col, sum

In [5]:
pip install yfinance

Requirement already satisfied: yfinance in /home/hduser/novo/venv/lib/python3.12/site-packages (0.2.61)
Requirement already satisfied: pandas>=1.3.0 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (0.11.1)
Requirement already satisfied: protobuf>=3.19.0 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (5.29.4)
Requirement already satisfied: websockets>=13.0 in /home/hduser/novo/venv/lib/python3.12/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /home/hduser/novo/venv/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/hduser/novo/venv/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.13.2)
Requirement already satisfied: cffi>=1.12.0 in /home/hduser/novo/venv/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /home/hduser/novo/venv/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: pycparser in /home/hduser/novo/venv/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hduser/novo/venv/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/hduser/novo/venv/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in /home/hduser/novo/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/hduser/novo/venv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/hduser/novo/venv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/hduser/novo/venv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.4.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import yfinance as yf

In [7]:


ticker = "AAPL"
data = yf.download(ticker,
                   start="2018-01-01", 
                   end="2020-12-31")    

print(data.head())

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2018-01-02  40.426819  40.436208  39.722764  39.933983  102223600
2018-01-03  40.419788  40.964259  40.356426  40.490195  118071600
2018-01-04  40.607529  40.710791  40.384579  40.492532   89738400
2018-01-05  41.069855  41.156687  40.612220  40.703747   94640000
2018-01-08  40.917324  41.213026  40.818753  40.917324   82271200

In [8]:
csv_AAPL = f"{ticker}_AAPL_historical_train_data_spark.csv"
data.to_csv(csv_AAPL)

In [9]:
df_AAPL= pd.read_csv("AAPL_AAPL_historical_train_data_spark.csv")

In [10]:
df_AAPL.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,40.42681884765625,40.43620824884917,39.722764160494656,39.933982715247524,102223600
3,2018-01-03,40.4197883605957,40.96425916920155,40.356426001755686,40.49019456253724,118071600
4,2018-01-04,40.60752868652344,40.710790617330794,40.38457874373889,40.492531794304796,89738400

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

# Parar sessão anterior, se necessário
try:
    spark.stop()
except:
    pass

# Criar nova SparkSession com o caminho exato do JAR
spark = SparkSession.builder \
    .appName("PySpark CSV to MySQL") \
    .master("local") \
    .config("spark.jars", "/usr/local/spark-3.4.4-bin-hadoop3/jars/mysql-connector-j-8.0.33.jar") \
    .getOrCreate()

# Caminho do CSV
file_path = "file:///home/hduser/novo/AAPL_AAPL_historical_train_data_spark.csv"

# Leitura do CSV
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Visualizar as primeiras 5 linhas
df.show(5)

+----------+------------------+------------------+------------------+------------------+---------+
|     Price|             Close|              High|               Low|              Open|   Volume|
+----------+------------------+------------------+------------------+------------------+---------+
|    Ticker|              AAPL|              AAPL|              AAPL|              AAPL|     AAPL|
|      Date|              null|              null|              null|              null|     null|
|2018-01-02|40.426815032958984|40.436204433265914| 39.72276041223238| 39.93397894705455|102223600|
|2018-01-03|  40.4197883605957| 40.96425916920155|40.356426001755686| 40.49019456253724|118071600|
|2018-01-04| 40.60752487182617|40.710786792933035|40.384574949985684|40.492527990410416| 89738400|
+----------+------------------+------------------+------------------+------------------+---------+
only showing top 5 rows

In [12]:
# print the data type info
df.printSchema()

root
 |-- Price: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [13]:
df.show(5)

+----------+------------------+------------------+------------------+------------------+---------+
|     Price|             Close|              High|               Low|              Open|   Volume|
+----------+------------------+------------------+------------------+------------------+---------+
|    Ticker|              AAPL|              AAPL|              AAPL|              AAPL|     AAPL|
|      Date|              null|              null|              null|              null|     null|
|2018-01-02|40.426815032958984|40.436204433265914| 39.72276041223238| 39.93397894705455|102223600|
|2018-01-03|  40.4197883605957| 40.96425916920155|40.356426001755686| 40.49019456253724|118071600|
|2018-01-04| 40.60752487182617|40.710786792933035|40.384574949985684|40.492527990410416| 89738400|
+----------+------------------+------------------+------------------+------------------+---------+
only showing top 5 rows

In [14]:
# Remove the first two lines (CRL and null)
df = df.filter(df.Price != "Ticker").filter(df.Price != "Date")

In [15]:
df = df.toDF("Date", "Close", "High", "Low", "Open", "Volume")

In [16]:


df.show(5)

+----------+------------------+------------------+------------------+------------------+---------+
|      Date|             Close|              High|               Low|              Open|   Volume|
+----------+------------------+------------------+------------------+------------------+---------+
|2018-01-02|40.426815032958984|40.436204433265914| 39.72276041223238| 39.93397894705455|102223600|
|2018-01-03|  40.4197883605957| 40.96425916920155|40.356426001755686| 40.49019456253724|118071600|
|2018-01-04| 40.60752487182617|40.710786792933035|40.384574949985684|40.492527990410416| 89738400|
|2018-01-05| 41.06986618041992|41.156698465850205| 40.61223124489687| 40.70375823200148| 94640000|
|2018-01-08| 40.91731262207031|41.213014298775086| 40.81874181549477| 40.91731262207031| 82271200|
+----------+------------------+------------------+------------------+------------------+---------+
only showing top 5 rows

In [17]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [18]:


# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

In [19]:
# convert string double
df = df.withColumn("Close", col("Close").cast("double"))

In [20]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Close: double (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [21]:


df = df.withColumn("High", col("High").cast("double"))
df = df.withColumn("Low", col("Low").cast("double"))
df = df.withColumn("Open", col("Open").cast("double"))
df = df.withColumn("Volume", col("Volume").cast("double"))
df = df.withColumn("Date", col("Date").cast("Date"))

In [22]:


df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Close: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Open: double (nullable = true)
 |-- Volume: double (nullable = true)

In [23]:
import mysql.connector
print(mysql.connector.__version__)

9.3.0

In [24]:
df.show(5)

+----------+------------------+------------------+------------------+------------------+----------+
|      Date|             Close|              High|               Low|              Open|    Volume|
+----------+------------------+------------------+------------------+------------------+----------+
|2018-01-02|40.426815032958984|40.436204433265914| 39.72276041223238| 39.93397894705455|1.022236E8|
|2018-01-03|  40.4197883605957| 40.96425916920155|40.356426001755686| 40.49019456253724|1.180716E8|
|2018-01-04| 40.60752487182617|40.710786792933035|40.384574949985684|40.492527990410416| 8.97384E7|
|2018-01-05| 41.06986618041992|41.156698465850205| 40.61223124489687| 40.70375823200148|   9.464E7|
|2018-01-08| 40.91731262207031|41.213014298775086| 40.81874181549477| 40.91731262207031| 8.22712E7|
+----------+------------------+------------------+------------------+------------------+----------+
only showing top 5 rows

In [25]:
# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

In [26]:
# MySQL connection properties
url = "jdbc:mysql://localhost:3306/companies"  # MySQL URL
properties = {
    "user": "root",
    "password": "password",
    "driver": "com.mysql.cj.jdbc.Driver"
}

In [27]:
# Leitura do CSV
#df = spark.read.csv(file_path, header=True, inferSchema=True)

# Adiciona a coluna 'nome' com valor fixo "AAPL"
df_comp_nome = df.withColumn("nome", lit("AAPL"))

# Escreve no banco MySQL
df_comp_nome.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/companies") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "AAPL_historico") \
    .option("user", "root") \
    .option("password", "password") \
    .mode("overwrite") \
    .save()

In [28]:
# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

mySQL

# ABNB

In [29]:

ticker = "ABNB"
data = yf.download(ticker,
                   start="2018-01-01", 
                   end="2020-12-31")    

print(data.head())

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            ABNB        ABNB        ABNB        ABNB      ABNB
Date
2020-12-10  144.710007  165.000000  141.250000  146.000000  70447500
2020-12-11  139.250000  151.500000  135.100006  146.550003  26980800
2020-12-14  130.000000  135.300003  125.160004  135.000000  16966100
2020-12-15  124.800003  127.599998  121.500000  126.690002  10914400
2020-12-16  137.990005  142.000000  124.910004  125.830002  20409600

In [30]:
csv_ABNB = f"{ticker}_ABNB_historical_train_data_spark.csv"
data.to_csv(csv_ABNB)

In [31]:
df_ABNB= pd.read_csv("ABNB_ABNB_historical_train_data_spark.csv")

In [32]:
df_ABNB.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,ABNB,ABNB,ABNB,ABNB,ABNB
1,Date,NaN,NaN,NaN,NaN,NaN
2,2020-12-10,144.7100067138672,165.0,141.25,146.0,70447500
3,2020-12-11,139.25,151.5,135.10000610351562,146.5500030517578,26980800
4,2020-12-14,130.0,135.3000030517578,125.16000366210938,135.0,16966100

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

# Parar sessão anterior, se necessário
try:
    spark.stop()
except:
    pass

# Criar nova SparkSession com o caminho exato do JAR
spark = SparkSession.builder \
    .appName("PySpark CSV to MySQL") \
    .master("local") \
    .config("spark.jars", "/usr/local/spark-3.4.4-bin-hadoop3/jars/mysql-connector-j-8.0.33.jar") \
    .getOrCreate()

# Caminho do CSV
file_path = "file:///home/hduser/novo/ABNB_ABNB_historical_train_data_spark.csv"

# Leitura do CSV
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Visualizar as primeiras 5 linhas
df.show(5)

+----------+-----------------+-----------------+------------------+-----------------+--------+
|     Price|            Close|             High|               Low|             Open|  Volume|
+----------+-----------------+-----------------+------------------+-----------------+--------+
|    Ticker|             ABNB|             ABNB|              ABNB|             ABNB|    ABNB|
|      Date|             null|             null|              null|             null|    null|
|2020-12-10|144.7100067138672|            165.0|            141.25|            146.0|70447500|
|2020-12-11|           139.25|            151.5|135.10000610351562|146.5500030517578|26980800|
|2020-12-14|            130.0|135.3000030517578|125.16000366210938|            135.0|16966100|
+----------+-----------------+-----------------+------------------+-----------------+--------+
only showing top 5 rows

In [34]:
# print the data type info
df.printSchema()

root
 |-- Price: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [35]:
df.show(5)

+----------+-----------------+-----------------+------------------+-----------------+--------+
|     Price|            Close|             High|               Low|             Open|  Volume|
+----------+-----------------+-----------------+------------------+-----------------+--------+
|    Ticker|             ABNB|             ABNB|              ABNB|             ABNB|    ABNB|
|      Date|             null|             null|              null|             null|    null|
|2020-12-10|144.7100067138672|            165.0|            141.25|            146.0|70447500|
|2020-12-11|           139.25|            151.5|135.10000610351562|146.5500030517578|26980800|
|2020-12-14|            130.0|135.3000030517578|125.16000366210938|            135.0|16966100|
+----------+-----------------+-----------------+------------------+-----------------+--------+
only showing top 5 rows

In [36]:
# Remove the first two lines (CRL and null)
df = df.filter(df.Price != "Ticker").filter(df.Price != "Date")

In [37]:
df = df.toDF("Date", "Close", "High", "Low", "Open", "Volume")

In [38]:
df.show(5)

+----------+------------------+-----------------+------------------+------------------+--------+
|      Date|             Close|             High|               Low|              Open|  Volume|
+----------+------------------+-----------------+------------------+------------------+--------+
|2020-12-10| 144.7100067138672|            165.0|            141.25|             146.0|70447500|
|2020-12-11|            139.25|            151.5|135.10000610351562| 146.5500030517578|26980800|
|2020-12-14|             130.0|135.3000030517578|125.16000366210938|             135.0|16966100|
|2020-12-15|124.80000305175781|127.5999984741211|             121.5|126.69000244140625|10914400|
|2020-12-16|137.99000549316406|            142.0|124.91000366210938|125.83000183105469|20409600|
+----------+------------------+-----------------+------------------+------------------+--------+
only showing top 5 rows

In [39]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [40]:

# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

In [41]:
# convert string double
df = df.withColumn("Close", col("Close").cast("double"))

In [42]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Close: double (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- Volume: string (nullable = true)

In [43]:
df = df.withColumn("High", col("High").cast("double"))
df = df.withColumn("Low", col("Low").cast("double"))
df = df.withColumn("Open", col("Open").cast("double"))
df = df.withColumn("Volume", col("Volume").cast("double"))
df = df.withColumn("Date", col("Date").cast("Date"))

In [44]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Close: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Open: double (nullable = true)
 |-- Volume: double (nullable = true)

In [45]:
import mysql.connector
print(mysql.connector.__version__)

9.3.0

In [46]:
df.show(5)

+----------+------------------+-----------------+------------------+------------------+---------+
|      Date|             Close|             High|               Low|              Open|   Volume|
+----------+------------------+-----------------+------------------+------------------+---------+
|2020-12-10| 144.7100067138672|            165.0|            141.25|             146.0|7.04475E7|
|2020-12-11|            139.25|            151.5|135.10000610351562| 146.5500030517578|2.69808E7|
|2020-12-14|             130.0|135.3000030517578|125.16000366210938|             135.0|1.69661E7|
|2020-12-15|124.80000305175781|127.5999984741211|             121.5|126.69000244140625|1.09144E7|
|2020-12-16|137.99000549316406|            142.0|124.91000366210938|125.83000183105469|2.04096E7|
+----------+------------------+-----------------+------------------+------------------+---------+
only showing top 5 rows

In [47]:
# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

In [48]:
# Leitura do CSV
#df = spark.read.csv(file_path, header=True, inferSchema=True)

# Adiciona a coluna 'nome' com valor fixo "AAPL"
df_comp_nome = df.withColumn("nome", lit("ABNB"))

# Escreve no banco MySQL
df_comp_nome.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/companies") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "ABNB_historico") \
    .option("user", "root") \
    .option("password", "password") \
    .mode("overwrite") \
    .save()

In [49]:
# # Count Number of nulls in all Column
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+----+-----+----+---+----+------+
|Date|Close|High|Low|Open|Volume|
+----+-----+----+---+----+------+
|   0|    0|   0|  0|   0|     0|
+----+-----+----+---+----+------+

# AMT